@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Tilt+Prism&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

button {
  all: unset;
}

.buttonExit{
  position: absolute;
  top: 5px;
  right: 5px;
}





.NameContainer {
  z-index: 6;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #02abe4;
  text-shadow: 10px 5px 20px rgb(0, 0, 0);
  pointer-events: none;
  font-weight: 900;

}

.hexagonContent {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
}

.NameContainer h1 {
  font-size: 2.8em;
  font-family: 'Tilt Prism', cursive;
  margin: 0;
  /* Glass effect */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

/*PARA START CONTAINER*/
.StartContainer {
  position: fixed;
  width: 100%;
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=010101&c2=221929&gt=r&gd=dcc
*/
  background: #010101;
  background: radial-gradient(at center, #010101, #221929);
  height: 100vh;
  color: white;
  top: 0%;
  right: 0;
  left: 0;
  z-index: 5;
}
.CardContainer {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  width: 27%;
  height: 80%;
  color: white;
  right: 0;
  left: 0;
  z-index: 6;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Glass effect */
  background-image: linear-gradient(to right, #000000bc, #202020b9, #3a3a3a95, #5757574a, #75757539);
  border-radius: 10px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px 1px 1px 1px solid rgba(255, 255, 255, 0.5);
  /* Efecto de sombra */
  box-shadow: 1px 2px 7px rgba(183, 191, 206, 0.14);
}

.iconTitle{
  margin-top: 15px;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


@keyframes fadeOffw {
  0% {opacity: 1;}
  100% {opacity: 0;}
}





.CardContainer {
  animation: fadeIn 1s;
}



.Inactive {
  animation: fadeOffw 0.6s;
}



.imageStart {
  /*Centra a horizontalmente*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.circle {
  position: absolute;
  top: 6%;
  left: 0;
  width: 100%;
  height: 85%;
  border-radius: 50%;
  background-color: rgba(201, 201, 201, 0.5);
  z-index: -1;
}


.hexagon {
  position: absolute;
  width: 100px;
  background-color: #5ad1cd;
  height: 77.74px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: background-color 1s ease, transform 0.5s ease;
  /* Agregado transition */

}

.hexagon:hover {
  background-color: #edf0f1;
  transform: scale(1.2);
  /* Corregido: utiliza transform para aplicar la escala */
}

.hexagonContent {
  margin: 5px;
  position: absolute;
  width: 90px;
  background-color: #0f3430;
  height: 67.74px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.dashed-line {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 200px;
  height: 0;
  border-top: 2px dashed rgb(222, 222, 222);
  transform-origin: 0 0;
  z-index: -1;
}



.topLine {
  width: 85px;
  top: 10%;
  transform: rotate(90deg) translate(-100px);
}

.leftLine {
  width: 90px;
  top: 7%;
  left: -66%;
  transform: rotate(25deg) translate(100px);
}

.rightLine {
  width: 90px;
  top: 19%;
  left: 133%;
  transform: rotate(-25deg) translate(-100px);
  z-index: -100;
}

.leftBottomLine {
  top: 95%;
  left: -22%;
  transform: rotate(140deg) translate(-100px);

}

.rightBottomLine {
  width: 140px;
  top: 125%;
  left: 165%;
  transform: rotate(220deg) translate(100px);
}

.bottomLine {
  top: 100%;
  transform: rotate(90deg) translate(-100px);
}



.top {
  top: -50%;
  left: 30%;
  background-color: #84cdfa;
}

.left {
  top: 1%;
  left: -70%;
  background-color: #FC9C46;
}

.right {
  top: 1%;
  left: 130%;
  background-color: #9b59b6;
}

.left-bottom {
  top: 95%;
  left: -70%;
  background-color: #73D08A;
}


.overScroll{
  overflow: auto;
}
.right-bottom {
  top: 95%;
  left: 130%;
  background-color: rgb(249, 77, 47);
}

.bottom {
  top: 120%;
  left: 30%;
  background-color: thistle;
}



.top:hover+.topLine {
  /* Cambia el color de fondo de .other-element cuando .hexagon está en estado de hover */
  background-color: #02abe4;
}

.left:hover+.leftLine {
  /* Cambia el color de fondo de .other-element cuando .hexagon está en estado de hover */
  background-color: #FC9C46;
}

.right:hover+.rightLine {
  /* Cambia el color de fondo de .other-element cuando .hexagon está en estado de hover */
  background-color: #9b59b6;
}

.left-bottom:hover+.leftBottomLine {
  /* Cambia el color de fondo de .other-element cuando .hexagon está en estado de hover */
  background-color: #73D08A;
}

.right-bottom:hover+.rightBottomLine {
  /* Cambia el color de fondo de .other-element cuando .hexagon está en estado de hover */
  background-color: tomato;
}

.bottom:hover+.bottomLine {
  /* Cambia el color de fondo de .other-element cuando .hexagon está en estado de hover */
  background-color: #02abe4;
}


.imageStart img:hover+.circle {
  /* Cambia el color de fondo de .other-element cuando .hexagon está en estado de hover */
  animation: change-color 5s infinite;
}

@keyframes change-color {
  0% {
    background-color: #02abe4;
  }

  25% {
    background-color: #9b59b6;
  }

  50% {
    background-color: #FC9C46;
  }

  75% {
    background-color: #edf0f1;
  }

  100% {
    background-color: #73D08A;
  }
}

.titleSection {
  color: white;
  font-size: 10em;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  position: fixed;
  top: 29%;
  right: 0;
  left: 0;
  z-index: 3;
  font-family: 'Tilt Prism', cursive;
  text-shadow: 0 0 10px white;
  pointer-events: none;

}



.subtitleSection {
  color: #02abe4;
  text-shadow: 0 0 10px rgb(34, 97, 192);
  font-size: 2em;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  position: fixed;
  top: 55%;
  right: 0;
  left: 0;
  z-index: 3;
  font-family: 'Montserrat', sans-serif;
  pointer-events: none;

}

h1 {

  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.boxSectionResponsive {
  display: flex;
  flex-direction: row;
}

.boxSectionResponsive2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  background-color: black;
  width: 100%;
  height: 10%;
  text-align: center;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.815);
  z-index: 1;
  opacity: 1;
  transition: opacity 2s;
}

.overlay-hidden {
  opacity: 0;
}



.contenedorForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gridSkills {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.boxOptionesUp {
  z-index: 1;
  position: fixed;
  top: 0%;
  width: 100%;
  height: 10%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;

}

.boxOptionesUp a {
  margin-top: 20px;
  margin-right: 11%;
}

.contenedorSecciones {
  background: black;
  margin-top: 10px;
  width: 95%;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
}

.boxOptions {
  z-index: 1;
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 10%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.boxOptions a {
  margin-top: 20px;
}

.contactBox {
  position: fixed;
  top: 0;
  left: 30%;
  right: 0;
  margin-top: 5%;
  width: 40%;
}

.icono {
  transition: all 0.2s ease-in-out;
  box-shadow: none;
  transform: scale(1);
  cursor: pointer;
}

.icono:hover {

  transform: scale(1.2);
}

.selectedOption {
  color: #02abe4;
  font-weight: 500;
  font-size: 20px;
  text-shadow: 0 0 10px rgb(161, 161, 161);
}


.flexContainer{
  display: flex;
  flex-direction: column;
}

.flexRow{
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.txtLeft{
  text-align: left;
}

.txtRigth{
  text-align: right;
}

.txtJustify{
  text-align: justify;
}


.contenedorSeccionesAbout {
  padding: 10px;
  background: black;
  margin-top: 50px;
  width: 98%;
  overflow: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  text-align: justify;

}

/*PARA BOTON*/

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(64, 119, 196);
  color: white;
  position: relative;
  overflow: hidden;
}

.btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgb(13, 14, 22);
  animation: wave 0.7s linear;
}

.btn:active:before {
  background-color: rgba(255, 255, 255, 0.8);
}

.btn:active {
  background-color: rgb(13, 14, 22);
  box-shadow: none;
}

@keyframes wave {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    width: 400px;
    height: 400px;
    opacity: 0;
  }
}

/*STYLES FOR GRID CONTAINER (FRAMEWORKS SECTION)*/

.gridSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridContainer {
  width: 90%;
  display: grid;
  gap: 2rem;
  grid-auto-rows: 8rem;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}

.gridContainer a {
  background-color: rgb(72, 67, 67);
  text-align: center;
  align-content: center;
}


.gridContainer a:hover {
  transition-duration: 0.5s;
  transform: scale(1.1);
}




.gridContainer a:nth-child(2) {
  grid-column: 3;
  grid-row: 2 / 4;
}

.gridContainer a:nth-child(5) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}



.gridContainerSection2 {
  margin-left: 120px;
  text-align: left;
  margin-top: 5%;
  width: 85%;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 15rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}


.sectionAbout {
  overflow: auto;
  height: 80vh;
  width: 50%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.videoBox {
  width: 650px;
  margin-left: 30px;
}


.videoBox2 {
  width: 650px;
  margin-right: 30px;
}

.sectionSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


section {
  display: flex;
  flex-direction: row;
  width: 70%;
}

section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}


section img:hover {
  width: 20px;
  opacity: 1;
  transition: .5s ease;
  filter: contrast(120%);
}



.containerSection {
  height: 500px;
}

.descriptionSkills {
  width: 50%;
  height: 210px;
}

/*ESTILOS PARA EL COMPONENTE DE LOADER*/
.container {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 96px;
  width: 96px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.container span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.container span:nth-of-type(1) {
  filter: blur(5px);
}

.container span:nth-of-type(2) {
  filter: blur(10px);
}

.container span:nth-of-type(3) {
  filter: blur(25px);
}

.container span:nth-of-type(4) {
  filter: blur(50px);
}

.container::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border: solid 5px #ffffff;
  border-radius: 50%;
}

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loader {
  z-index: 5;
  background-color: darkblue;
}

.loaderBox {
  position: fixed;
  background-color: #020202;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  top: 0;
}


@media (max-width: 1434px) {
  .subtitleSection {
    top: 50%;
    font-size: 1.6em;
  }
}

@media (max-width: 860px) {
  .titleSection {
    font-size: 7em;
  }

  .subtitleSection {
    font-size: 1.1em;
    top: 44%;
  }
}

@media (max-width: 600px) {
  .titleSection {
    font-size: 4.5em;
    top: 35%;
    font-weight: 500;
  }

  .subtitleSection {
    font-size: 1.2em;
    top: 65%;
  }
}

@media (max-width: 800px) {
  .contenedorSeccionesAbout {
    margin-top: 0px;
  }

  .boxSectionResponsive {
    display: flex;
    flex-direction: column;
  }


  .contactBox {

    margin-top: 38%;
    width: 80%;
    left: 8%;
  }

  .boxSectionResponsive2 {
    display: flex;
    flex-direction: column;
  }

  .sectionAbout {
    width: 90%;
  }


  .contenedorSecciones {
    background: black;
    margin-top: 10px;
    width: 97%;

    opacity: 0.7;

  }




  .contenedorSecciones img {
    height: 50px;
  }

  .videoBox {
    width: 80%;
    margin-left: 0px;
  }

  .videoBox2 {
    width: 80%;
    margin-right: 0px;
  }


  .gridContainer a:nth-child(2) {
    grid-column: auto;
    grid-row: auto;
  }

  .gridContainer a:nth-child(5) {
    grid-column: auto;
    grid-row: auto;
  }

  section {
    width: 80%;
  }


  .gridContainerSection2 {
    margin-left: 10px;
    text-align: left;
    margin-top: 5%;
    width: 85%;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 15rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  .gridContainer {
    width: 90%;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  }

  .descriptionSkills {
    width: 80%;
    height: 150px;
  }


  .boxOptionesUp {
    z-index: 1;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;

  }

  .boxOptionesUp a {
    margin-top: 14px;
    margin-right: 3%;
  }


  /*Para Start*/

  .hexagon:hover {
    transform: scale(1.1);
    /* Corregido: utiliza transform para aplicar la escala */
  }

  .hexagon {
    width: 75px;
    height: 55px;
    /* Corregido: utiliza transform para aplicar la escala */
  }

  .hexagonContent {
    margin: 4px;
    width: 67px;
    height: 47px;
    /* Corregido: utiliza transform para aplicar la escala */
  }

  .top {
    top: -60%;
    left: 30%;
    background-color: #84cdfa;
  }

  .left {
    top: -30%;
    left: -15%;
  }

  .right {
    top: -30%;
    left: 79%;
    background-color: #9b59b6;
  }

  .left-bottom {
    top: 110%;
    left: -18%;
    background-color: rgb(5, 114, 78);
  }

  .right-bottom {
    top: 110%;
    left: 80%;
    background-color: tomato;
  }

  .bottom {
    top: 125%;
    left: 30%;
    background-color: thistle;
  }

  /*Para lineas*/
  .topLine {
    width: 90px;
    top: 7%;
  }

  .leftLine {
    width: 50px;
    top: -47%;
    left: -13%;
    transform: rotate(70deg) translate(100px);
  }

  .rightLine {
    width: 60px;
    top: -45%;
    left: 122%;
    transform: rotate(115deg) translate(100px);
    z-index: -100;
  }

  .leftBottomLine {
    top: 90%;
    left: 15%;
    transform: rotate(100deg) translate(-100px);

  }

  .rightBottomLine {
    top: 100%;
    left: 87%;
    transform: rotate(66deg) translate(-100px);
  }

  .CardContainer {
    top: 45%;
    width: 80%;
    height: 70%;
    overflow: auto;
  }

  p{
    font-size: 14px;
  }

  .txtLeft, .txtRigth{
    font-size: 13px;
  }
  .imageStart{
    top: 45%;
  }
  .imageStart img {
    
    width: 180px !important;
    height: 225px !important;
  }

  .NameContainer{
    top: 55%;
  }
  .NameContainer h1{
    font-size: 1.8em;
    text-align: center;
  }
}